$font-manrope-regular: 'Manrope Regular';

@font-face {
  font-family: $font-manrope-regular;
  src: url('fonts/manrope-regular.otf');
}

$font-manrope-thin: 'Manrope Thin';

@font-face {
  font-family: $font-manrope-thin;
  src: url('fonts/manrope-thin.otf');
}

$font-manrope-bold: 'Manrope Bold';

@font-face {
  font-family: $font-manrope-bold;
  src: url('fonts/manrope-bold.otf');
}

$font-manrope-semibold: 'Manrope Semibold';

@font-face {
  font-family: $font-manrope-semibold;
  src: url('fonts/manrope-semibold.otf');
}