html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-montserrat;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: .2s;

  &:hover {
    text-decoration: none;
  }
}

.align-center {
  text-align: center;
}

.btn {
  box-shadow: 0px 3px 10px rgba(0, 10, 255, 0.15);
  border-radius: 22.5px;
  transition: .3s;
  font-weight: 600;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;

  &:hover {
    color: #fff;
  }

  &--white {
    border: 2px solid #FFFFFF;
    font-size: 14px;

    &:hover {
      color: #000;
      background: #fff;
    }
  }

  &--pink {
    background: #FF577F;

    &:hover {
      background: #FF7394;
    }
  }

  &--blue {
    background: #2453FF;

    &:hover {
      background: #4C72FF;
    }
  }
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;

  &--wave {
    &:after {
      content: url('img/wave.svg');
      display: block;
      margin: -10px 0 -15px 0;
    }
  }
}

.headline {
  color: #000;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;

  &--white {
    color: #fff;
  }

  &--small {
    font-size: 25px;
    line-height: 40px;
  }

  &--large {
    font-size: 50px;
    line-height: 61px;
  }

  &--padding {
    padding: 0 15px;
  }

  &--blue-line {
    &:after {
      content: '';
      background: linear-gradient(25.58deg, rgba(255, 255, 255, 0.228) 7.92%, rgba(255, 255, 255, 0) 87.42%), #2E5BFF;
      height: 4px;
      width: 63px;
      display: block;
      margin: 15px 0;
    }
  }
}

.headline-text {
  display: block;
  font-family: $font-manrope-thin;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.text-gray {
  font-family: $font-manrope-thin;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: $color-gray-menu;
}

.container-wrapper {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action {
  font-size: 27px;
  line-height: 50px;
  color: #000000;
  background: $color-blue-bg;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

  span {
    margin-right: 25px;
  }

  button {
    flex-shrink: 0;
  }
}

.bg-blue {
  background-color: $color-blue-bg;
}

.bg-pink {
  background-color: #FFF0F4;
}