.about-desc {
  margin-top: 90px;
  text-align: center;
  color: $color-gray-menu;

  .headline {
    font-size: 32px;
    line-height: 50px;

    @media (max-width: 767px) {
      font-size: 23px;
      line-height: 35px;
    }
  }

  .text {
    font-family: $font-manrope-regular;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.02em;
    max-width: 865px;
    margin-top: 15px;
    display: inline-block;

    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 26px;
    }
  }

  &__awords {
    margin: 70px 0 80px 0;

    @media (max-width: 767px) {
      margin: 40px 0;
    }
  }

  &__points {
    .point {
      text-align: left;

      .headline {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;

        @media (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }
    }

    .call-to-action {
      margin-top: 100px;

      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }
}

.about-press {
  margin-top: 80px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  &__list {
    margin-top: 40px;

    @media (max-width: 767px) {
      margin-top: 0;
    }

    .article {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media (max-width: 767px) {
        height: 200px;
      }

      &:hover {
        .article__overlay {
          opacity: .95;
          visibility: visible;
        }
      }

      &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(80.69deg, rgba(255, 255, 255, 0.228) 7.92%, rgba(255, 255, 255, 0) 87.42%), #2C2C2C;
        box-shadow: 0px 15px 50px rgba(31, 31, 31, 0.296);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        a {
          font-family: $font-manrope-thin;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

.about-features {
  .features__list {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 10px;
    }
  }

  .features__item {
    img {
      @media (max-width: 767px) {
        transform: translate(0);
        height: 280px;
        width: auto;
      }
    }

    &--odd {
      @media (max-width: 991px) {
        .left {
          order: 2;
          text-align: center;
        }
      }

      .right {
        @media (max-width: 991px) {
          padding-left: 0;
        }

        img {
          @media (max-width: 767px) {
            transform: translateX(-20%);
          }
        }
      }
    }

    &--even {
      @media (max-width: 991px) {
        .right {
          order: 2;
          text-align: center;
        }
      }

      .left {
        @media (max-width: 991px) {
          padding-right: 0;
        }

        img {
          @media (max-width: 576px) {
            left: 0;
          }
        }
      }
    }

    .features__desc {
      @media (max-width: 991px) {
        padding: 40px 0 0 0;
      }
    }
  }
}

.about-social {
  margin-top: 120px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .headline {
    font-size: 32px;
    line-height: 50px;

    @media (max-width: 767px) {
      font-size: 23px;
      line-height: 35px;
    }
  }

  .under-headline {
    font-family: $font-manrope-regular;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $color-gray-menu;
    display: block;

    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 26px;
    }
  }

  &__list {
    margin-top: 60px;

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    transition: .3s;

    @media (max-width: 767px) {
      height: 90px;
    }

    &:hover {
      background: #F4F4F4;

      i.fa-twitter {
        color: #00C2FF;
      }

      i.fa-facebook-square {
        color: #4968B4;
      }

      i.fa-linkedin-in {
        color: #2878B7;
      }

      i.fa-medium-m {
        color: #000;
      }
    }

    i {
      color: $color-gray-menu;
      font-size: 72px;
      transition: .3s;

      @media (max-width: 767px) {
        font-size: 30px;
      }
    }
  }
}