.section-tabs {

  @media (max-width: 768px) {
    margin-bottom: -70px;
  }

  &>.container-fluid {
    height: 135px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__tabs {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    &--sticky {
      position: fixed;
      top: 79px;
      left: 0;
      right: 0;
      height: 55px;
      z-index: 99;
      box-shadow: 0px 4px 20px rgba(36, 83, 255, 0.1);


      .nav-item {
        height: 100%;

        a.nav-link {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          border-radius: 0;
        }
      }
    }

    li {
      a.nav-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        color: #1E45D4;
        padding: 15px 0;
        width: 370px;
        max-width: 100%;
        text-align: center;
        border-radius: 20.5px;
        transition: .3s;

        &:hover {
          color: #6485FF;
        }

        &.active {
          background-color: #FFE3EA;
        }

        &:active {
          background: #F8F8F8;
        }
      }
    }

  }

  .tab-pan {
    padding: 90px 0 130px 0;

    @media (max-width: 767px) {
      display: block;
      opacity: 1;
      padding: 35px 0 45px 0;
    }

    .col-md-3 {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &__mob-img {
      display: none;

      @media (max-width: 768px) {
        display: block;
        text-align: center;
        margin-top: 30px;
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__desc {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #000000;
      font-family: $font-manrope-regular;

      @media (max-width: 768px) {
        line-height: 24px;
      }
    }

    &__list {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      .item {
        padding: 0 35px 25px 0;
        width: 50%;

        @media (max-width: 768px) {
          padding: 0 0 10px 0;
          width: auto;

        }

        .headline {
          font-size: 20px;
          line-height: 32px;

          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 32px;
          }
        }

        p {
          font-family: $font-manrope-thin;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #636B7C;

          @media (max-width: 768px) {
            font-size: 13px;
            line-height: 22px;
          }
        }
      }
    }

    &--reverse {
      .col-md-9 {
        @media (min-width: 768px) {
          padding-left: 35px;
        }
      }
    }

    .call-to-action--request-demo {
      font-size: 16px;
      line-height: 27px;
      justify-content: space-between;
      letter-spacing: 0.02em;

      span {
        max-width: 420px;
      }

      button {
        @media (min-width: 768px) {
          margin-right: 30px;
        }
      }
    }

  }
}