.documents {
  &__hero {
    height: 330px;
    margin-top: 79px;
    background: url('img/documents/header-bg.svg') bottom/cover no-repeat;
    display: flex;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        margin-bottom: 30px;
      }

      p {
        font-family: $font-manrope-regular;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 660px;
      }
    }
  }

  &__list {
    margin-top: 100px;

    @media (max-width: 768px) {
      margin-top: 50px;
    }

    .item {
      display: flex;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      .thumb {
        width: 167px;
        height: 202px;
        margin-right: 35px;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
      }

      .headline {
        font-size: 30px;
        line-height: 50px;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 32px;
          margin-top: 15px;
        }
      }

      p {
        font-family: $font-manrope-regular;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      .btn {
        padding: 10px 45px;
      }
    }
  }
}

.modal-download {

  .modal-content {
    max-width: 780px;
    border: none;

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 9;

      &:focus {
        outline: none;
      }
    }
  }

  .modal-body {
    padding: 0;
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
    padding: 50px 35px 90px 50px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @media (max-width: 992px) {
      padding: 20px;
      order: 2;
    }

    .headline {
      margin-bottom: 15px;

      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 27px;
      }
    }

    p.desc {
      font-family: $font-manrope-regular;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #000000;

      @media (max-width: 768px) {
        margin: 0;
      }
    }

    input:not([type="submit"]) {
      border: 1px solid #D0D5E5;
      border-radius: 5px;
      height: 50px;
      padding-left: 15px;
      margin: 20px 0 30px 0;

      &.error {
        border: 1px solid #FF92AC;
        background: #FFEDED;
      }

      @media (max-width: 768px) {
        margin: 15px 0;
      }

      &::placeholder {
        font-family: $font-manrope-regular;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #99A0B0;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    .btn {
      padding: 10px 45px;
      margin-right: auto;
    }
  }

  &__right {
    width: 270px;
    flex-shrink: 0;
    background: url('img/documents/modal-book.jpg') center/cover no-repeat;

    @media (max-width: 992px) {
      height: 165px;
      width: 100%;
    }

    @media (max-width: 768px) {
      background-position: center !important;
    }
  }

  .mc4wp-form-fields {
    display: flex;
    flex-direction: column;
  }

  .mc4wp-response {
    display: none !important;
  }

  .mc4wp-alert {
    margin-top: 10px;
    font-size: 12px;
  }
}