.footer {
  background: linear-gradient(54.78deg, rgba(255, 255, 255, 0.228) 7.92%, rgba(255, 255, 255, 0) 87.42%), #000000;
  padding-top: 55px;

  &__logo {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__nav {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    ul {
      li {
        a {
          font-size: 14px;
          line-height: 30px;
          color: #fff;
        }

        &:first-child {
          margin-bottom: 15px;

          a {
            color: $color-gray-menu;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;

          }
        }

        &:not(:first-child) {
          a {
            &:hover {
              color: $color-pink-hover;
              text-decoration: none;
            }

            &:active {
              opacity: .7;
            }
          }
        }


      }
    }

    &--social {
      ul {
        li {
          &:not(:first-child) {
            display: inline-block;
            margin-right: 20px;

            a {
              i {
                font-size: 18px;
              }

              &:hover {
                color: $color-pink-hover;
              }
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 35px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .left {
      font-size: 14px;
      line-height: 25px;
      color: $color-gray-menu;

      @media (max-width: 767px) {
        text-align: center;
        order: 2;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .right {
      ul {
        @media (max-width: 767px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 15px;
        }

        li {
          display: inline-block;

          a {
            padding: 5px;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            display: inline-block;

            &:hover {
              color: $color-pink-hover;
            }

            &:active {
              opacity: .7;
            }
          }
        }
      }
    }
  }
}