.header {
  background: linear-gradient(
      19.92deg,
      rgba(255, 255, 255, 0.228) 19.46%,
      rgba(255, 255, 255, 0) 79.31%
    ),
    #2e5bff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .navbar {
    height: 80px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .container {
      max-width: 1220px;

      @media (max-width: 991px) {
        height: 100%;
        max-width: 100%;
      }
    }

    &-brand {
      @media (max-width: 991px) {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &-toggler {
      &:focus {
        outline: none;
      }
    }

    &-collapse {
      @media (max-width: 991px) {
        background: #fff;
        text-align: center;
      }

      @media (max-width: 991px) {
        margin-right: -16px;
        margin-left: -16px;
      }
    }

    &-nav {
      margin-left: auto;
      text-align: left;

      .dropdown-menu {
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        border: none;
        top: 65px;

        @media (max-width: 991px) {
          box-shadow: none;
          padding: 0;
          margin: 0;
        }

        a {
          color: $color-gray-menu;
          font-size: 13px;
          line-height: 31px;
          font-weight: 600;

          &:hover {
            background: #f6f8ff;
            color: #3661ff;
          }

          &:active {
            background: #edf0f9;
          }

          @media (max-width: 991px) {
            font-size: 13px;
            line-height: 31px;
            letter-spacing: 0.015em;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4px;
            width: 95%;
          }
        }
      }

      .dropdown-toggle {
        &::after {
          vertical-align: middle;

          @media (max-width: 991px) {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        @media (max-width: 991px) {
          &[aria-expanded='true'] {
            &:after {
              color: #2453ff;
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }

      .nav-item {
        .nav-link {
          color: #fff;
          font-size: 13px;
          line-height: 22px;
          font-weight: 600;
          padding: 15px 17px;
          box-sizing: content-box;
          position: relative;
          letter-spacing: 0.015em;

          @media (max-width: 991px) {
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.015em;
            color: #000000;

            &:hover {
              background: #f6f8ff;
              color: #3661ff;
            }
          }

          @media (min-width: 991px) {
            &:before {
              content: '';
              position: absolute;
              bottom: 5px;
              left: 0;
              width: 0;
              height: 3px;
              background: $color-pink;
              transition: 0.3s;
            }

            &:hover:before {
              width: 100%;
            }
          }
        }
      }
    }

    .btn {
      @media (max-width: 991px) {
        color: #ff577f;
        border: 2px solid #ff577f;
        margin: 10px 0 30px 0;
        box-shadow: none;
        padding: 10px 85px;
        max-width: 100%;

        &:hover {
          background-color: #ff577f;
          color: #fff;
        }

        &:active {
          background: #ff87a3;
          border-color: #ff87a3;
        }
      }

      @media (max-width: 575px) {
        width: 90%;
      }
    }
  }
}
