.header {
  background: linear-gradient(19.92deg, rgba(255, 255, 255, 0.228) 19.46%, rgba(255, 255, 255, 0) 79.31%), #2E5BFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .navbar {
    height: 80px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .container {
      @media (max-width: 991px) {
        height: 100%;
        max-width: 100%;
      }
    }

    &-brand {
      @media (max-width: 991px) {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &-toggler {
      &:focus {
        outline: none;
      }
    }

    &-collapse {
      @media (max-width: 991px) {
        background: #fff;
        text-align: center;
      }

      @media (max-width: 991px) {
        margin-right: -16px;
        margin-left: -16px;
      }
    }

    &-nav {
      margin-left: auto;
      text-align: left;

      .dropdown-menu {
        box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        border: none;
        top: 65px;

        @media (max-width: 991px) {
          box-shadow: none;
          padding: 0;
          margin: -10px 0;
        }

        a {
          color: $color-gray-menu;
          font-size: 13px;
          line-height: 31px;
          font-weight: 600;

          &:hover {
            background: #F6F8FF;
            color: #3661ff;
          }

          @media (max-width: 991px) {
            font-size: 13px;
            line-height: 31px;
            letter-spacing: 0.015em;
            color: #636B7C;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4px;
            width: 95%;

            &:hover {
              color: #636B7C;
            }
          }

        }
      }

      .dropdown-toggle {
        &::after {
          vertical-align: middle;

          @media (max-width: 991px) {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        @media (max-width: 991px) {
          &[aria-expanded="true"] {
            &:after {
              color: #2453FF;
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }

      .nav-item {

        .nav-link {
          color: #fff;
          font-size: 13px;
          line-height: 22px;
          font-weight: 600;
          padding: 15px;
          box-sizing: content-box;
          position: relative;
          letter-spacing: 0.015em;

          @media (max-width: 991px) {
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.015em;
            color: #000000;
          }

          @media (min-width: 991px) {
            &:before {
              content: '';
              position: absolute;
              bottom: 5px;
              left: 0;
              width: 0;
              height: 3px;
              background: $color-pink;
              transition: .3s;
            }

            &:hover:before {
              width: 100%;
            }
          }
        }
      }

    }

    .btn {
      @media (max-width: 991px) {
        color: #FF577F;
        border: 2px solid #FF577F;
        margin: 10px 0 30px 0;
        box-shadow: none;
        padding: 10px 85px;
        max-width: 100%;
      }

      @media (max-width: 575px) {
        width: 90%;
      }
    }
  }

  &--scroll {

    .navbar-nav {
      .dropdown {
        position: static;

        &-menu {
          padding: 0;
          justify-content: center;
          width: 100%;
          border-radius: 0;

          &.show {
            display: flex;
          }

          a {
            width: auto;
            padding: 10px 75px;
            color: #1E45D4;

            &:hover {
              background: #FFE3EA;
            }
          }
        }
      }
    }
  }

}