.hero {
  height: auto;
  margin-top: 79px;
  background: url('img/header-bg.svg') bottom/cover no-repeat;
  display: flex;
  padding-top: 50px;
  padding-bottom: 120px;

  @media (min-width: 767px) {
    align-items: center;
  }

  @media (max-width: 767px) {
    padding-top: 35px;
    position: relative;
  }

  &__right {
    @media (max-width: 1140px) {
      text-align: center;
    }

    img {

      @media (min-width: 992px) {
        padding-left: 30px;
      }

      @media (max-width: 1140px) {
        width: 100%;
        max-width: 90%;
      }
    }
  }

  .container {
    max-width: 1220px;
  }

  &--buttons {
    @media (max-width: 767px) {
      padding-bottom: 200px;
    }

    .buttons {

      @media (max-width: 767px) {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
      }
    }

  }

  .left-upper-text {
    font-size: 31px;
    line-height: 50px;
    margin-bottom: 15px;
    max-width: 550px;

    @media (max-width: 768px) {
      font-size: 25px;
      line-height: 35px;
    }
  }

  &--about,
  &--compliance,
  &--product {
    background: url('img/header-bg-about.svg') bottom/cover no-repeat;
  }

  &--about {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &--compliance {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__left {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      position: static;
    }

    .title {
      padding-top: 20px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      font-family: $font-manrope-thin;
      letter-spacing: 0.02em;
      margin: 5px 0 35px 0;
      max-width: 455px;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .buttons {

      &__wrapper {
        display: inline-block;

        @media (max-width: 767px) {
          margin-left: -22px;
        }
      }

      .btn--pink {
        @media (max-width: 767px) {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          margin-bottom: 25px;
        }
      }

      span {
        margin: 0 10px;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        display: inline-block;
        border-bottom: 2px solid #FF8FAA;
        position: relative;

        &:hover {
          border-color: #FFCEDA;
        }

        &:active {
          border-color: #FFAFC3;
        }

        &:after {
          content: url('img/arrow-down-white.svg');
          position: absolute;
          right: -20px;
          top: 3px;
          padding-left: 10px;
        }
      }
    }
  }

  &--product {
    padding-bottom: 70px;

    .hero__left {

      .left-upper-text {
        font-size: 38px;
        line-height: 58px;
        display: inline-block;
        max-width: 100%;

        @media (max-width: 767px) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      .left-upper-text {
        padding-top: 30px;
      }

      .title {
        padding-top: 0;
      }

      p {
        max-width: 710px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .hero__icons {
      margin-top: 30px;

      @media (max-width: 767px) {
        margin-top: 0;
      }

      &>div {
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
    }

    .buttons {
      margin-top: 60px;

      @media (max-width: 767px) {
        margin-top: 20px;
      }

      .btn--pink {
        @media (min-width: 768px) {
          margin-left: -44px;
        }
      }
    }
  }

}

.about {
  margin: 170px 0;

  @media (max-width: 767px) {
    margin: 50px 0 20px 0;
  }

  &__left {
    text-align: center;

    .img-wrapper {
      position: relative;
      display: inline-block;

      img {
        width: 450px;

        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 rgba(255, 227, 234, 0.5);

        &:hover {
          animation: none;
        }

        svg {
          transform: translateX(20%);
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(.9);
  }

  70% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 50px rgba(255, 227, 234, 0);
  }

  100% {
    transform: translate(-50%, -50%) scale(.9);
    box-shadow: 0 0 0 0 rgba(255, 227, 234, 0);
  }
}

.partners {
  padding: 0 15px;

  .container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__list {
    margin-top: 50px;

    @media (max-width: 576px) {
      margin-top: 20px;
    }
  }

  &__item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 768px) {
      height: 113px;
    }

    img {
      @media (max-width: 768px) {
        max-width: 70%;
      }
    }

    &:hover .overlay {
      visibility: visible;
      opacity: 0.95;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: 0.5s;
      background: linear-gradient(75.4deg,
          rgba(255, 255, 255, 0.228) 7.92%,
          rgba(255, 255, 255, 0) 87.42%),
        #2c2c2c;
      box-shadow: 0px 15px 50px rgba(152, 152, 152, 0.296);
      border-radius: 15px;
      padding: 25px;
      display: flex;
      align-items: center;
      visibility: hidden;
      opacity: 0;

      @media (max-width: 768px) {
        padding: 10px;
      }

      p {
        font-family: $font-manrope-thin;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0;

        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

.help {
  margin-top: 100px;

  @media (max-width: 376px) {
    margin-top: 30px;
  }

  &__list {
    margin: 60px 0 110px 0;

    @media (max-width: 768px) {
      margin-bottom: 40px;
      margin-top: 30px;
    }

    .col-lg-3 {
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }

  &__item {
    padding: 65px 25px 25px;
    background: linear-gradient(83.92deg,
        rgba(255, 255, 255, 0.228) 2.36%,
        rgba(255, 255, 255, 0) 97.32%),
      #2e5bff;
    border-radius: 25px;
    max-width: 270px;
    text-align: left;
    height: 100%;
    display: inline-flex;
    flex-direction: column;

    img {
      margin-bottom: 35px;
    }

    p {
      font-family: $font-manrope-thin;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #fff;
    }

    a {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #FFFFFF;
      border-bottom: 2px solid #FF8FAA;
      margin-right: auto;
      position: relative;

      &:after {
        content: url(img/arrow-down-white.svg);
        position: absolute;
        right: -23px;
        transform: rotate(-90deg);
      }

      &:hover {
        border-color: #FFCEDA;
      }

      &:active {
        border-color: #FFAFC3;
      }
    }
  }

  &__name {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #fff;

    &:after {
      display: block;
      content: url('img/help/dots.svg');
      padding-bottom: 10px;
    }
  }
}

.explain {
  .container-wrapper {
    background-color: $color-blue-bg;
    padding: 80px 0;
    border-radius: 25px;

    @media (max-width: 768px) {
      border-radius: 0;
      padding: 40px 0;
    }
  }

  &__list {
    margin-top: 45px;
  }

  &__item {
    background: rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    @media (max-width: 575px) {
      background: transparent;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 25px;
    }

    p {
      margin-left: 25px;
      font-size: 15px;
      line-height: 26px;
      color: $color-gray-menu;
      letter-spacing: 0.02em;
      margin-bottom: 0;
      font-family: $font-manrope-thin;
    }
  }

  &__button {
    margin-top: 36px;

    .btn {
      @media (max-width: 575px) {
        width: 90%;
      }
    }
  }
}

.advantages {
  margin: 100px 0 130px 0;

  @media (max-width: 767px) {
    margin: 40px 0 35px 0;
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    span {
      margin-top: 25px;
      font-family: $font-manrope-regular;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
}

.features {
  overflow: hidden;

  .headline--padding {
    max-width: 550px;
  }

  &__desc {
    text-align: left;
    max-width: 535px;
    display: inline-block;

    p {
      font-family: $font-manrope-regular;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #000000;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &__item {

    img {
      min-width: 100%;
      width: 100%;
    }

    .headline {
      font-size: 30px;
      line-height: 40px;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 35px;
      }
    }

    &--odd {
      .left {
        @media (min-width: 767px) {
          text-align: right;
        }

        .features__desc {
          padding: 90px 60px 0 0;

          @media (max-width: 767px) {
            padding: 30px 0px 0 0;
          }
        }
      }

      .right {
        padding-right: 0;

        img {
          @media (max-width: 575px) {
            height: 290px;
            width: auto;
          }
        }
      }
    }

    &--even {
      .features__desc {
        padding: 90px 0 0 60px;

        @media (max-width: 767px) {
          padding: 30px 0px 0 0;
        }
      }

      .left {
        padding-left: 0;

        @media (max-width: 991px) {
          order: 1;
        }

        img {
          @media (max-width: 575px) {
            height: 290px;
            width: auto;
            position: relative;
            left: calc(-100% - 15px);
          }
        }

        &--home {
          @media (max-width: 576px) {
            height: 290px;
          }

          img {
            @media (max-width: 576px) {
              position: absolute;
              right: 15px;
              left: auto;
            }
          }
        }
      }

    }

  }

}

.more-features {
  margin-top: 90px;

  &__list {
    margin-top: 40px;
  }

  &__item {
    .headline {
      font-size: 22px;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 35px;
        text-align: center;
      }

      &:after {
        content: url('img/blue-dots.svg');
        display: block;
        margin: -5px 0 -10px 0;

        @media (max-width: 767px) {
          margin: 10px 0;
        }
      }
    }

    p {
      font-family: $font-manrope-regular;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: $color-gray-menu;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.latest {
  margin-top: 110px;

  @media (max-width: 767px) {
    margin-top: 35px;
  }

  &__item {
    margin-top: 55px;
    height: 500px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background: #F7F7F7;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 35px;
    }

    .headline {
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      margin: 20px 0 30px 0;
      max-width: 345px;

      @media (max-width: 767px) {
        font-size: 22px;
        line-height: 33px;
      }
    }

    .left {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .right {
      width: 50%;
      height: 100%;
      background: url('img/temp/latest.jpg') top/cover no-repeat;

      @media (max-width: 767px) {
        width: 100%;
        background-position: center;
      }
    }

  }
}

.form {
  margin-top: 125px;
  margin-bottom: 120px;

  @media (max-width: 767px) {
    margin: 70px 0 -2px 0;
  }

  .container-wrapper {
    background: url('img/form-bg.svg') top/cover no-repeat;
    padding: 70px 0;
    border-radius: 25px;

    @media (max-width: 767px) {
      border-radius: 0;
    }
  }

  form {
    font-family: $font-manrope-thin;
    max-width: 455px;
    margin: 55px auto 0 auto;

    @media (max-width: 767px) {
      margin-top: 30px;
    }

    label {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #FFFFFF;

      @media (max-width: 575px) {
        font-size: 12px;
      }

      span {
        color: #ff5b5b;
      }
    }

    input,
    select {
      height: 50px;
      padding-left: 20px;
    }

    textarea {
      padding-left: 20px;
    }

    input,
    select,
    textarea {
      &.error {
        border: 1px solid #FF92AC;
        background: #FFEDED;
      }
    }

    input::placeholder,
    textarea::placeholder,
    select {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #99A0B0;

      @media (max-width: 575px) {
        font-size: 12px;
      }
    }

    .btn[type="submit"] {
      width: 100%;
      margin: 20px 0 10px 0;
    }

    .note {
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      display: block;
      text-align: center;
    }

  }

}