.hero {
  height: calc(100vh - 80px);
  margin-top: 79px;
  background: url('img/header-bg.svg') bottom/cover no-repeat;
  display: flex;
  align-items: center;

  &--about {
    background: url('img/header-bg-about.svg') bottom/cover no-repeat;
  }

  &__left {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0;

    p {
      font-size: 18px;
      line-height: 30px;
      font-family: $font-manrope-thin;
      letter-spacing: 0.02em;
      margin: 20px 0 35px 0;
      max-width: 455px;
    }

    .buttons {
      span {
        margin: 0 10px;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        display: inline-block;
        border-bottom: 2px solid #7492ff;
        position: relative;

        &:after {
          content: url('img/arrow-down-white.svg');
          position: absolute;
          right: -20px;
          top: 3px;
          padding-left: 10px;
        }
      }
    }
  }

  &__right {
    padding-left: 30px;
  }
}

.about {
  margin: 170px 0;

  &__left {
    text-align: center;

    .img-wrapper {
      position: relative;
      display: inline-block;

      img {
        &:first-child {
          max-width: 450px;
        }

        &:last-child {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
    }
  }
}

.partners {
  padding: 0 15px;

  &__list {
    margin-top: 50px;
  }

  &__item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover .overlay {
      visibility: visible;
      opacity: 0.95;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: 0.5s;
      background: linear-gradient(75.4deg,
          rgba(255, 255, 255, 0.228) 7.92%,
          rgba(255, 255, 255, 0) 87.42%),
        #2c2c2c;
      box-shadow: 0px 15px 50px rgba(152, 152, 152, 0.296);
      border-radius: 15px;
      padding: 25px;
      display: flex;
      align-items: center;
      visibility: hidden;
      opacity: 0;

      p {
        font-family: $font-manrope-thin;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0;
      }
    }
  }
}

.help {
  margin-top: 100px;

  &__list {
    margin: 60px 0 110px 0;
  }

  &__item {
    padding: 65px 25px 25px;
    background: linear-gradient(83.92deg,
        rgba(255, 255, 255, 0.228) 2.36%,
        rgba(255, 255, 255, 0) 97.32%),
      #2e5bff;
    border-radius: 25px;
    max-width: 270px;
    text-align: left;
    height: 100%;
    display: inline-flex;
    flex-direction: column;

    img {
      margin-bottom: 35px;
    }

    p {
      font-family: $font-manrope-thin;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #fff;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #fff;

    &:after {
      display: block;
      content: url('img/help/dots.svg');
      padding-bottom: 10px;
    }
  }
}

.explain {
  .container-wrapper {
    background-color: $color-blue-bg;
    padding: 80px 0;
    border-radius: 25px;
  }

  &__list {
    margin-top: 45px;
  }

  &__item {
    background: rgba(255, 255, 255, 0.54);
    border-radius: 15px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    p {
      margin-left: 25px;
      font-size: 15px;
      line-height: 26px;
      color: $color-gray-menu;
      letter-spacing: 0.02em;
      margin-bottom: 0;
    }
  }

  &__button {
    margin-top: 36px;
  }
}

.advantages {
  margin: 100px 0 130px 0;

  &__list {
    margin-top: 40px;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;

    span {
      margin-top: 25px;
      font-family: $font-manrope-regular;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
}

.features {
  .headline--padding {
    max-width: 550px;
  }

  &__list {
    margin-top: 70px;
  }

  &__desc {
    text-align: left;
    max-width: 525px;
    display: inline-block;

    p {
      font-family: $font-manrope-regular;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  &__item {
    img {
      min-width: 100%;
      width: 100%;
    }

    .headline {
      font-size: 30px;
      line-height: 40px;
    }

    &--odd {
      .left {
        text-align: right;

        .features__desc {
          padding: 90px 60px 0 0;
        }
      }

      .right {
        padding-right: 0;
      }
    }

    &--even {
      .features__desc {
        padding: 90px 0 0 60px;
      }

      .left {
        padding-left: 0;
      }
    }

  }

}

.more-features {
  margin-top: 90px;

  &__list {
    margin-top: 40px;
  }

  &__item {
    .headline {
      font-size: 22px;

      &:after {
        content: url('img/blue-dots.svg');
        display: block;
        margin: -5px 0 -10px 0;
      }
    }

    p {
      font-family: $font-manrope-regular;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: $color-gray-menu;
    }
  }
}

.latest {
  margin-top: 110px;

  &__item {
    margin-top: 55px;
    height: 500px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background: #F7F7F7;

    .headline {
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      margin: 20px 0 30px 0;
      max-width: 345px;
    }

    .left {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    .right {
      width: 50%;
      height: 100%;
      background: url('img/temp/latest.jpg') top/cover no-repeat;
    }

  }
}

.form {
  margin-top: 125px;
  margin-bottom: 120px;

  .container-wrapper {
    background: url('img/form-bg.svg') top/cover no-repeat;
    padding: 70px 0;
    border-radius: 25px;
  }

  form {
    font-family: $font-manrope-thin;
    max-width: 455px;
    margin: 55px auto 0 auto;

    label {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #FFFFFF;

      span {
        color: #ff5b5b;
      }
    }

    input,
    select {
      height: 50px;
      padding-left: 20px;
    }

    textarea {
      padding-left: 20px;
    }

    input::placeholder,
    textarea::placeholder,
    select {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #99A0B0;
    }

    .btn[type="submit"] {
      width: 100%;
      margin: 20px 0 10px 0;
    }

    .note {
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      display: block;
      text-align: center;
    }

  }

}