.section-tabs.section-tabs--product {
  .section-tabs__tabs {
    li {
      a.nav-link {
        width: 260px;
      }
    }
  }
}

.product {

  &__tabs {
    height: 135px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__first-pan {

    .col-md-6:last-child {
      img {
        @media (max-width: 768px) {
          margin-top: 30px;
        }
      }
    }

    .list {
      margin-top: 35px;

      &__item {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        img {
          margin-right: 30px;
        }

        .list__text {
          .headline {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 5px;

            @media (max-width: 768px) {
              font-size: 18px;
              line-height: 24px;
            }
          }

          span {
            font-family: $font-manrope-regular;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #636B7C;
            display: inline-block;
            max-width: 440px;

            @media (max-width: 768px) {
              font-size: 13px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .cards {
      margin-top: 70px;

      &>div {
        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }

      &__item {
        background: #FFFFFF;
        border-radius: 15px;
        padding: 30px 50px 30px 50px;
        height: 100%;


        .headline {
          font-size: 24px;
          line-height: 35px;
          margin: 20px 0 15px 0;

          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 24px;
          }
        }

        ul {
          li {
            font-family: $font-manrope-regular;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #636B7C;
            margin-bottom: 3px;
            padding-left: 30px;
            position: relative;

            &::before {
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f058";
              color: #99A0B0;
              position: absolute;
              left: 0;
            }

          }
        }
      }
    }
  }

  &__second-pan {
    .list {
      margin-top: 20px;

      &__item {
        margin-top: 25px;
        color: $color-gray-menu;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 24px;
          padding-left: 60px;
        }

        span,
        strong {
          color: #000;
          font-family: $font-manrope-bold;

          &::before {
            display: block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 30px;
            margin-bottom: 13px;
            content: "\f058";

            @media (max-width: 768px) {
              position: absolute;
              left: 15px;
              top: 5px;
            }
          }
        }

        &--pink {

          span::before,
          strong::before {
            color: #FFC7D4;
          }
        }

        &--blue {

          span::before,
          strong::before {
            color: #9BB1FF;
          }
        }
      }
    }

    .call-to-action {
      margin-top: 70px;
    }

    .bottom {
      margin-top: 120px;

      @media (max-width: 768px) {
        margin-top: 60px;
      }

      .col-md-6:last-child {
        @media (max-width: 768px) {
          margin-top: 30px;
        }
      }

      .headline {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 15px;

        @media (max-width: 768px) {
          font-size: 23px;
          line-height: 35px;
        }
      }

      ul {
        margin-top: 30px;

        li {
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          color: #000000;
          display: flex;
          align-items: center;

          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 20px;
          }

          &:before {
            content: url('img/product/pane-2/tick.svg');
            margin: 5px 25px 0 0;
          }
        }
      }
    }
  }

  &__third-pan {
    .gray-note {
      font-size: 28px;
      line-height: 139.9%;
      color: #8B91A5;
      font-weight: 600;
      margin-top: 30px;

      @media (max-width: 768px) {
        font-size: 22px;
      }

      span {
        color: #000;
      }
    }

    .bottom {
      margin-top: 45px;
      display: flex;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &__item {
        flex: 1 0 0;

        @media (max-width: 768px) {
          margin-bottom: 30px;
        }

        .headline {
          font-size: 24px;
          line-height: 35px;
          margin-bottom: 10px;

          @media (max-width: 768px) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        span.under-headline {
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.02em;
          color: #000000;
          font-family: $font-manrope-regular;
        }

        ul {
          margin-top: 20px;

          li {
            font-family: $font-manrope-regular;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #636B7C;
            position: relative;
            padding-left: 30px;

            &::before {
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f058";
              color: #9BB1FF;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
  }

  &__forth-pan {
    &.tab-pan {
      padding-top: 0;
      padding-bottom: 0;
    }

    .email {
      background-color: #4C72FF;

      @media (max-width: 768px) {
        display: none;
      }

      &__content {
        display: inline-block;

        .headline {
          margin-top: 50px;
        }
      }

      form {
        height: 55px;
        display: flex;
        margin: 30px auto 60px auto;
        width: 90%;

        input {
          padding-left: 20px;
          border: 1px solid #D0D5E5;
          border-radius: 5px 0 0 5px;
          flex-grow: 1;

          &.error {
            border: 1px solid #FF92AC;
            background: #FFEDED;
          }

          &::placeholder {
            font-family: $font-manrope-regular;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.02em;
            color: #99A0B0;
          }
        }

        .btn {
          border-radius: 0 5px 5px 0;
        }
      }
    }

    .cards {
      background: #FFE3EA;
      padding-top: 75px;
      padding-bottom: 110px;

      @media (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 55px;
        margin-bottom: -70px;
      }

      &__list {
        margin-top: 55px;

        @media (max-width: 768px) {
          margin-top: 25px;
        }

        &>div {
          margin-bottom: 20px;
        }
      }

      .headline {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;

        &--white {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
        }
      }

      &__item {
        background: #4C72FF;
        border-radius: 25px;
        padding: 40px 30px 30px 40px;
        height: 100%;

        p {
          font-family: $font-manrope-thin;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #FFFFFF;
        }
      }

    }
  }


}